<% layout('layout/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3 shadow p-3 mb-5 bg-body rounded">
        <div class="card">
            <img src="<%= shop.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=shop.shopN%></h5>
                <p class="card-text"><%=shop.description%> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%=shop.location%></li>
                <li class="list-group-item"><a class="btn btn-primary" href="<%=shop.website%>"><%=shop.shopN%></a>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-primary" href="/coffeeshops/<%=shop._id%>/edit">Edit</a>
                <form class="d-inline" action="/shops/<%=shop._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>